@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans text-slate-900;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight text-slate-800;
  }

  /* Global Fix for Select Icons overlap */
  select.appearance-none {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-image: none !important;
  }

  select.appearance-none::-ms-expand {
    display: none;
  }
}
